{template 'common/header'}
<style>
.topm{ height:90px; width:100%; line-height:24px; background:#fff; padding:10px 0; border-bottom:1px solid #9a9a9a; margin-bottom:10px}
		.topm p{ width:33%; float:left; text-align:center;line-height24px; margin-top:10px;}
		.topm p span{ color:#d04542; font-size:24px;  }
		.topm .datas span{border-right:1px solid #9a9a9a; font-weight:none}
		.user-box{padding:15px; background:#fff}
		.user-box li p span{ width:20%; text-align:center; font-size:10px; color:#4a4949; float:left; border-right:1px solid #9a9a9a}
        .user-msg{padding:15px;margin-bottom: 10px;background: #fff;}
		.user-msg .info{ border-bottom:1px solid #9a9a9a; margin-bottom:10px}
		.user-msg .info p{ overflow:hidden;width:100%; height:24px; line-height:24px; text-align:left; }
	 .user-msg .info p i{ color:#d04542; font-weight:bold; font-size:16px;}
 	 .user-msg .info .datas{ height:auto; margin:10px auto; font-weight:none}
</style>
<div class="main">
    <ul class="nav nav-tabs">
        <li{if $_GPC['do'] == 'member' } class="active"{/if}><a href="{php echo $this->createWebUrl('member')}">会员管理
    </a></li>
        <li{if $_GPC['do'] == 'setmem' || $_GPC['do'] == '' } class="active"{/if}><a
            href="{php echo $this->createWebUrl('setmem',array('id'=>$user['id']))}">会员信息</a></li>
        <li class="active"><a
            href="#">会员站点数据分析</a></li>
    </ul>
    <form class="form-horizontal form" id="form2" action="" method="post" enctype="multipart/form-data">
        <div class="panel panel-default">
            <div class="panel-heading">
                会员站点数据分析
            </div>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-xs-12 col-sm-2 col-md-2 col-lg-1 control-label">当前用户：</label>
                    <div class="col-sm-8 col-xs-12">
                        <img alt="" src="{$user['avatar']}" width='auto' style="max-width:50px; max-height:50px;" height='auto'> ID：{$user['id']} 昵称：{$user['nickname']} 真实姓名：{$user['realname']} 手机号:{$user['mobile']}
                       
                    </div>
                </div>
                
        </div>
        
        
    </div>
    <div class="panel panel-default">
            <div class="panel-heading">
            <div  class="topm">
               <p>今日阅读数<br /><span>{$todaytotal}</span></p>
<p style="width:34%; border-left:1px solid #9a9a9a; border-right:1px solid #1b1b1b">近7日阅读数<br /><span>{$totalrecent}</span></p>
<p>总阅读数<br /><span>{$total}</span></p>
			</div>
               共计 {$total} 条数据
                
            </div>
            <div class="panel-body table-responsive">
            <ul class="user-box">
	
{loop $list $row}
    <li class="user-msg flexs">
        <div class="info sub">
			<p><b>{$row['title']}</b></p>
			<p class="datas" style="height:auto"><span><i>{$row['totalreadcount']}</i><br />总阅读次数</span><span><i>{$row['totalreadnum']}</i><br />总阅读人数</span> <span><i>{$row['totalsharecount']}</i><br />分享次数</span> <span style="border-right:none"><i>{$row['totalsharenum']}</i><br />分享人数</span><!--<span style="border-right:none; line-height:48px;"><A href="{php echo $this->createmobileurl('statistics_detail',array('artid'=>$row['artid']))}">详情 >></A></span--></p> 
        </div>
 
    </li>
	
{/loop}
</ul>


            </div>
    	</div>
    	{$pager}
    </form>
</div>
{template 'common/footer'}