{template 'common/header'}

<div class="main">


    <div class="panel-heading">
        <div class="row-fluid">
            <div class="span8 control-group">
                <a class="btn btn-primary" href="{php echo $this->createWebUrl('addgpostertype')}" ><i
                        class="fa fa-plus"></i>添加海报分组</a>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="row-fluid">
                <div class="span8 control-group">
                    共计 {$total} 条数据
                </div>
            </div>
        </div>
        <div class="panel-body table-responsive">
            <table class="table table-hover">
                <thead class="navbar-inner">
                <tr>
                    <th>分组名称</th>
                    <th>排序</th>
                    <th>创建时间</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody id="add_author">
                {loop $records $row}
                <tr>
                    <td>{$row['poster_type']}</td>
                    <td>{$row['displayorder']}</td>
                    <td>{php echo date('Y/m/d H:i:s', $row['createtime'])}</td>

                    <td data="{$row['id']}">
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top"
                           href="{php echo $this->createweburl('editpostertype',array(id=>$row['id']))}"  title="修改">
                            <i class="fa fa-edit"></i></a>
                        <a class="btn btn-default" data-toggle="tooltip" data-placement="top" href="javascript:" onclick="return del(this)" title="删除">
                            <i class="fa fa-times"></i></a>
                    </td>
                   
                </tr>
                
                {/loop}
                </tbody>
            </table>
        </div>
    </div>
    {$pager}
</div>

<script language='javascript'>

    function del(obj){
        var conf=confirm("确定删除吗？");
        var id=$(obj).parents('td').attr('data');
		
        $.post("{php echo $this->createWebUrl('postertypemanage')}",{del:true,id:id},function(result){
			
            location.href="{php echo $this->createWebUrl('postertypemanage')}";
        });
    }

</script>
{template 'common/footer'}