* {
    margin: 0;
    padding: 0;
}

.Eleditor-controller {
    background: #000
}

.Eleditor-controller ul li {
    background: #fff
}

#articleEditor img {
    max-width: 100%
}

.Eleditor-textEditor {
    z-index: 10000;
    height: 300px;
    top: 50%;
    margin-top: -150px;
}

.Eleditor-wrap.Eleditor-mask {
    z-index: 1000000
}

#articleEditor {
    padding: 10px;
    max-width: 100%;
    overflow: hidden;
}

.mui-segmented-control {
    font-size: 15px;
    font-weight: 400;
    position: relative;
    display: table;
    overflow: hidden;
    width: 100%;
    table-layout: fixed;
    border: 1px solid #f0ad4e;
    border-radius: 3px;
    background-color: transparent;
    -webkit-touch-callout: none;
    width: 180px;
    margin: 0 auto;
}

.mui-segmented-control .mui-control-item {
    line-height: 28px;
    display: table-cell;
    overflow: hidden;
    width: 1%;
    -webkit-transition: background-color .1s linear;
    transition: background-color .1s linear;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #f0ad4e;
    border-color: #f0ad4e;
    border-left: 1px solid #f0ad4e;
}

.mui-segmented-control .mui-control-item:first-child {
    border-left-width: 0;
}

.mui-segmented-control .mui-control-item.mui-active {
    color: #fff;
    background-color: #f0ad4e;
}

header {
    display: block;
    z-index: 999;
    position: fixed;
    padding: 6px 60px 6px 10px;
    background: #f2f2f2;
    border-bottom: 1px solid #ccc;
    top: 0;
    left: 0;
    right: 0;
}

.content {
    margin-top: 50px;
}

header .sub {
    width: 60px;
    height: 28px;
    line-height: 28px;
    margin-top: 0!important;
    position: absolute;
    right: 10px;
    top: 5px;
    text-align: center;
    border-radius: 6px;
    color: #fff;
    background: #007aff;
}

.cai_info.webuploader-container {
    position: relative;
}

.cai_info .webuploader-element-invisible {
    opacity: 0;
}

.cai_info .webuploader-pick {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.cai_info input {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0
}

.cai_info .webuploader-pick label {
    padding: 0;
    margin: 0;
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.content {
    background: #f2f2f2
}

.shareimg {
    height: 60px;
    line-height: 60px;
    padding: 0 20px 0 100px;
    position: relative;
}

.shareimg .imgbox {
    position: absolute;
    top: 5px;
    left: 10px;
    height: 50px;
    width: 50px;
    background: #ccc
}

textarea {
    height: auto;
    resize: none;
}

.shareitem {
    height: 72px;
    margin-top: 6px;
    background: #fff;
    padding: 6px 10px;
}

.shareitem div {
    display: inline-block;
    height: 60px;
}

.shareitem .title {
    width: 20%;
    line-height: 60px;
}

.shareitem .text {
    width: 76%;
}

.sharebox {
    background: #ccc;
    padding: 10px;
}

.cai_head {
    padding: 10px;
    background: #fff;
}

.cai_title {
    font-size: 15px;
}

.cai_info {
    position: relative;
    padding-right: 4.2rem;
    min-height: 4rem;
    margin-top: 4px;
}

.cai_img {
    position: absolute;
    top: 0;
    right: 0;
    height: 4rem;
    width: 4rem;
    overflow: hidden
}

.cai_img img {
    width: 100%;
    height: 100%
}

.cai_desc {
    font-size: 13px;
    color: #666
}

#con1 {
    background: #ccc;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.4);
    display: none;
    z-index: 1001;
    cursor: pointer;
}

.fixedDiv {
    position: fixed;
    top: 50%;
    height: 250px;
    margin-top: -125px;
    width: 100%;
    background: #fff;
    z-index: 1002;
    display: none;
}

.tinsert_head {
    text-align: left;
    height: 44px;
    line-height: 44px;
    padding-left: 10px;
    border-bottom: 1px solid #ccc;
}

.tinsert_body {
    padding: 8px;
    position: relative;
}

.text_ct {
    width: 100%;
    height: 140px;
    font-size: 15px;
    resize: none;
    margin: 0;
    padding: 0;
    border: none;
    user-select: auto;
}

.tinsert_foot {
    background: #e8e8e8;
    height: 44px;
    line-height: 44px;
    border-top: 1px solid #ccc;
}

.boxYes {
    float: right;
    height: 44px;
    width: 50%;
    font-size: 16px;
    border: 0;
    color: #dd4c3a;
    cursor: pointer;
    background: #fff;
    border-left: 1px solid #ddd;
    font-weight: 700;
    border-radius: 0;
}

.boxNo {
    float: left;
    height: 44px;
    width: 50%;
    font-size: 16px;
    border: 0;
    color: #aaa;
    cursor: pointer;
    background: #fff;
    font-weight: 700;
    border-radius: 0;
}

/*广告*/
.adbox {
    margin: 6px;
    padding: 6px;
    background: #fff
}

.img-text {
    position: relative;
    padding-left: 60px;
    min-height: 56px;
}

.img-text .img {
    position: absolute;
    left: 0;
    top: 0;
    width: 56px;
    height: 56px;
    background: #f2f2f2
}

.img-text .img img {
    height: 100%;
    width: 100%;
}

.i-t-title {
    height: 30px;
    line-height: 30px;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.i-t-desc {
    height: 26px;
    line-height: 20px;
    font-size: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 30px;
    color: #666
}

#ad input {
    font-size: .7rem;
}

.ms {
    padding: 4px 10px;
    font-size: 12px;
    color: #ff6600
}

.ad-s-con {
    margin: 6px;
    padding: 8px;
    background: #fff;
    position: relative;
}

.ad-tip {
    position: absolute;
    bottom: 0;
    right: 1px;
    font-size: 12px;
    border: 1px solid #4cd964;
    color: #4cd964;
    padding: 0 4px;
}

.adimg {
    height: 56px;
    width: 100%;
    overflow: hidden;
}

.adimg img {
    width: 100%;
    height: 56px;
}

.gz .img-text {
    padding-right: 3rem
}

.gz .img img {
    border-radius: 50%
}

.img-text .r-btn {
    height: 24px;
    line-height: 24px;
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 0;
}

.img-text .r-btn .button {
    height: 24px;
    line-height: 24px;
    padding: 0 10px;
    color: #04be02;
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
 
    border: 1px solid #04be02;
    text-align: center;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-radius: 5px;
    -webkit-transition: all;
    transition: all;
    -webkit-transition-duration: .2s;
    transition-duration: .2s;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.mui-row:before {
    display: table;
    content: " ";
}

.mui-row>[class*=mui-col-] {
    float: left;
}

.ontact span {
    text-align: center;
}

.mui-col-xs-4 {
    width: 33.33333333%;
}

.wxewm {
    height: 80px!important;
    padding: 10px;
}

.wxewm label {
    height: 60px;
    line-height: 60px;
    padding: 0;
    padding-left: 10px;
}

.ewmbox {
    height: 56px;
    width: 56px;
    background: #f2f2f2;
    float: right;
    margin-right: 15px;
}

.ewmbox img {
    width: 56px;
    height: 56px;
}

.mp-box {
    height: 80px;
    padding-left: 60px;
    position: relative;
}

.mp-left {
    position: absolute;
    top: 0;
    left: 0;
}

.mp-face {
    width: 56px;
    height: 56px;
    margin: 5px 5px 0;
}

.mp-face img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
}

.mp-name {
    height: 20px;
    line-height: 20px;
    font-size: 14px;
    color: #666;
    text-align: center;
}

.mp-right {
    padding: 6px;
    margin-left: 6px;
}

.mp-info {
    height: 40px;
}

.company {
    font-size: 14px;
}

.job {
    font-size: 12px;
    color: #999
}

.ontact {
    height: 36px;
    line-height: 36px;
    margin-top: 4px
}

.ontact span {
    text-align: center;
}

.ontact span .mui-icon-extra {
    display: inline-block;
    width: 32px;
    height: 32px;
    background: #ccc;
    line-height: 32px;
    border-radius: 16px;
    color: #fff;
}

.adewm {
    height: 2rem;
    width: 2rem;
}

.adewm img {
    width: 2rem;
    height: 2rem;
}

.b1 {
    background-color: #03a9f4!important;
}

.b3 {
    background-color: #ffc107!important;
}

.b9 {
    background-color: #16c2c2!important;
}


/* */

.add-map {
    padding: 10px;
    background: #fff;
    margin-top: 4px;
}

.add-map .tname {
    font-size: 14rem;
}

.add-map .tname .info {
    color: #f6383a;
    font-size: 12rem
}

.main-img {
    width: 100%;
    font-size: 0;
    text-align: left;
}

.imgbox {
    position: relative;
    display: inline-block;
    width: 25%;
    height: 0;
    padding-bottom: 25%;
}

.imgbox .con {
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    overflow: hidden;
    background: url(/static/icon/add.png) no-repeat center;
    background-size: 100%;
}

.imgbox .con img {
    width: 100%;
    height: 100%
}

#jialst .guige {
    margin: .3rem;
    position: relative;
    padding-right: 3rem;
}

.del-card {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 3rem;
    text-align: center;
}

.del-card .myicon {
    height: 2rem;
    line-height: 2rem;
    position: absolute;
    top: 50%;
    margin: -1rem;
    width: 2rem;
    font-size: 1.2rem;
    color: #f6383a
}

.mui-input-row label {
    font-size: 14px;
    font-weight: 400;
    color: #666
}

.wxts {
    padding: 10px;
    font-size: 12px;
    color: #ff6600;
    background: #fff;
}

.sub {
    width: 80%;
    margin-top: 10px;
}

.inp {
    padding: 0 10px;
    height: 40px;
    line-height: 40px;
    background: #fff;
}

.inp span {
    color: #666;
    font-size: 14px;
     display: inline-block;
   
      min-width: 80px
}

.inp input {
    display: inline-block;
    height: 24px;
    margin-bottom: 0;
    border: 1px solid #ccc;
    border-radius: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    outline: 0;
    padding: 0 6px;
    color: #333;
}

.cutapart {
    height: 2rem;
    line-height: 2rem;
    position: relative;
    text-align: center;
}

.cutapart .hr {
    height: 1px;
    background: #c8c8c8;
    position: absolute;
    top: 1rem;
    width: 100%;
    z-index: 10;
}

.cutapart span {
    display: inline-block;
    padding: 0 4px;
    background: #fff;
    z-index: 20;
    color: #333;
    font-size: .7rem;
    position: relative;
}

#con1 {
    background: #fff;
}

.ad-con {
    min-height: 3rem;
    background: #f2f2f2;
    margin: 10px;
    padding: 4px;
}

.ad-con .adts {
    line-height: 3rem;
    text-align: center;
    font-size: .7rem;
    color: #333;
}