<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
    <meta charset="UTF-8">
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>会员介绍</title>
    {php echo register_jssdk(false);}
    <link rel="stylesheet" href="{RES}css/style_index.css" />
    <script type="text/javascript" src="{RES}js/jquery-2.1.4.min.js" ></script>
    <script type="text/javascript" src="{RES}js/script.js" ></script>
</head>
<body style="background: #fff;">
<div id="box">
    <div class="introduce">
        <h2>成为会员须知</h2>
        <div class="introduce_Min">
{$intro}
        </div>
    </div>
</div>
<script>
    $(function() {

        wx.ready(function () {
            shareMeta = {
                imgUrl: "{$shareimg}",
                link: "{$shareurl}",
                desc: "{$sharedesc}",
                title: "{$sharetitle}",
                success: function () {
$.get("<?php echo $this->getcurwebsite().'/app/'.substr($this->createmobileurl('sharerecord',array('userid'=>$curuser['id'],'advid'=>$_GPC['advid'],'artid'=>0,'frompage'=>$_GPC['do']),true),2); ?>", function(res){});
                },
                cancel: function () {
                    // alert("分享失败，可能是网络问题，一会儿再试试？");
                }
            };
            wx.onMenuShareTimeline(shareMeta);
            wx.onMenuShareAppMessage(shareMeta);
            wx.onMenuShareWeibo(shareMeta);
            wx.onMenuShareQQ(shareMeta);
            wx.onMenuShareQZone(shareMeta);
        });
    });
</script>
</body>
</html>
