{template 'common/header'}
<style>
	.qisjcd{
		color: #ca4242;
		padding:10px 0;
		padding-left:50px;
		font-size: 20px;
	}
</style>
<div class="qisjcd">一旦发放，信息不能修改，请保证填写的信息准确无误</div>
<div class="panel panel-default">
    <div class="panel-body">
        <form class="form-horizontal" role="form" method="post" action="" name="submit">
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">{$danhao}</label>
				<div class="col-sm-10">
					<input type="text" class="form-control"  name="kuaididan" value="{$jiangpin['kuaididan']}">
					<input type="hidden" name="id" value="{$jiangpin['id']}">
				</div>
			</div>
			<div class="form-group">
				<label for="firstname" class="col-sm-2 control-label">{$gongsi}</label>
				<div class="col-sm-9">
					<input type="text" id="vli" class="form-control"  name="kuaidigongsi" value="{$jiangpin['kuaidigongsi']}">
				</div>
				<div class="col-sm-1 btn btn-default" id="din">点击</div>
			</div>
			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<input type="submit" name="submit" class="btn btn-default">
				</div>
			</div>
	</form>
	{$page}
    </div>
</div>
 <script type="text/javascript">
	 document.getElementById('din').onclick=function(){
         var now = new Date();
         var str = now.getFullYear().toString()+(now.getMonth()+1).toString()+now.getDate().toString() + (Math.round(Math.random()*899999999999+100000000000)).toString();
         document.getElementById('vli').value= str;
	 }

</script>
{template 'common/footer'}